@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-anim img {
    animation: fadeIn 1s ease-in;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  